{% load static %}
{% block content %}

<div style="display: flex;">
    <div class="">
        <p>
            Der Versicherer bietet Ihnen nun die Möglichkeit Ihren Versicherungsschutz, 
            ohne jegliche Wartezeit, um die Kostenerstattung für Zahnersatz zu erweitern: 
            Kronen, Brücken, Implantate, Inlays, Prothesen etc. Gerade hier sind die Leistungen 
            der gesetzlichen Kassen oft sehr gering und die privat zu tragenden Eigenbeteiligungen 
            erreichen oftmals mehrere tausend Euro. Alleine ein Implantat kostet im Durchschnitt 
            bereits mehr als 2.000 Euro.
        </p>
        <div class="row" style="justify-content: center;">
            <div class="col-12 col-lg-4 extra-card">
                <div class="card-wrapper">
                    <div class="row" style="align-items: center; ">
                        <div class="col-4">
                            <div class="text-center" style="padding: .8rem; background-color: #efefef; border-radius: .8rem; width: 5rem;height: 5rem;display: flex; justify-content: center; align-items: center;">                  
                                <i class="fas fa-regular fa-star" style="margin-right: 0rem; font-size: 2rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 id="caption_small" class="banner-title">Mehr Zahn 80</h5>
                            <div id="loader-col-small" class="loader loader-banner"></div>
                            <div id="offer-small" style="display: none; align-items: baseline;">
                                <h3 id="offer-small-eur" class="offer"></h3> 
                                <p style="margin-left: .3rem;">€/Monat</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <ul>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">80% Zahnersatz</p>  
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">80% für Zahnersatz inkl. GKV- Vorleistung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">80% für Implantate</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">80% Inlays</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% bei Regelversorgung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">keine Wartezeiten</p> 
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div style="text-align: center;">
                            <button id="extra_small" 
                                class="btn btn-primary select_extra mb-3" 
                                style="color:white; border-radius: .6rem;" 
                                onclick="select_extra('extra_small')" 
                                disabled>   
                                Auswählen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 extra-card">
                <div class="card-wrapper">
                    <div class="row" style="align-items: center;">
                        <div class="col-4">
                            <div class="text-center" style="padding: .8rem; background-color: #efefef; border-radius: .8rem; width: 5rem;height: 5rem;display: flex; justify-content: center; align-items: center;">                  
                                <i class="fas fa-regular fa-star" style="margin-right: 0rem; font-size: 2rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 id="caption_medium" class="banner-title">Mehr Zahn 90</h5>
                            <div id="loader-col-medium" class="loader loader-banner"></div>
                            <div id="offer-medium" style="display: none; align-items: baseline;">
                                <h3 id="offer-medium-eur" class="offer"></h3> 
                                <p style="margin-left: .3rem;">€/Monat</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <ul>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">90% Zahnersatz</p>  
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">90% für Zahnersatz inkl. GKV- Vorleistung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">90% für Implantate</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">90% Inlays</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% bei Regelversorgung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">keine Wartezeiten</p> 
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div style="text-align: center;">
                            <button id="extra_medium" 
                                class="btn btn-primary select_extra mb-3" 
                                style="color:white; border-radius: .6rem;" 
                                onclick="select_extra('extra_medium')" 
                                disabled>   
                                Auswählen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 extra-card">
                <div class="card-wrapper">
                    <div class="row" style="align-items: center;">
                        <div class="col-4">
                            <div class="text-center" style="padding: .8rem; background-color: #efefef; border-radius: .8rem; width: 5rem;height: 5rem;display: flex; justify-content: center; align-items: center;">                  
                                <i class="fas fa-regular fa-star" style="margin-right: 0rem; font-size: 2rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5 id="caption_large" class="banner-title">Mehr Zahn 100</h5>
                            <div id="loader-col-large" class="loader loader-banner"></div>
                            <div id="offer-large" style="display: none; align-items: baseline;">
                                <h3 id="offer-large-eur" class="offer">20,05€</h3> 
                                <p style="margin-left: .3rem;">€/Monat</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <ul>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% Zahnersatz</p>  
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% für Zahnersatz inkl. GKV- Vorleistung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% für Implantate</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% Inlays</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">100% bei Regelversorgung</p> 
                            </li>
                            <li>
                                <div class="list-wrapper text-center">                  
                                    <i class="fas fa-regular fa-star list-icon"></i>
                                </div>
                                <p style="margin-left: 1rem">keine Wartezeiten</p> 
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div style="text-align: center;">
                            <button id="extra_large" 
                                class="btn btn-primary select_extra mb-3" 
                                style="color:white; border-radius: .6rem;" 
                                onclick="select_extra('extra_large')" 
                                disabled>   
                                Auswählen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="text-align: center;">
                    <button id="gen_extra_offer" 
                        class="btn btn-primary select_extra mb-3 mt-4" 
                        style="color:white; border-radius: .6rem;" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal" 
                        disabled>   
                        Angebot generieren
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zusätzliche Angaben</h5>
                </div>
                <div class="modal-body">   
                    <div id="extra_question1">
                        <p>Erfolgt zur Zeit eine Zahnersatzbehandlung, eine Wurzelbehandlung und/ oder eine Behandlung wegen Parodontose/ Parodontitis oder ist sie angeraten oder beabsichtigt?
                            <i class="fas fa fa-info-circle ml-2"></i>
                        </p>
                        <div style="display: flex; flex-wrap: wrap;">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio1" value="option1" onclick="show_error()">Ja
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check ml-3">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio1" value="option2" onclick="show_error()">Nein
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                            <div id="radio1_error" style="display: none; background-color: rgb(255, 210, 210); padding: 1rem;">
                                Leider ist ein Abschluss aufgrund Ihrer Angaben nicht direkt online möglich. Manche Dinge lassen sich am besten in einem persönlichen Gespräch klären. Rufen Sie gerne an: Barmenia-Kundenbetreuung, 0202 438-3444.
                            </div>
                        </div>
                    </div>
                    <div id="extra_question2" class="mt-5">
                        <p>Fehlen Zähne (außer Weisheitszähnen), die noch nicht ersetzt sind?
                            <i class="fas fa fa-info-circle ml-2"></i>
                        </p>
                        <div style="display: flex;">
                            <div class="form-group">
                                <select class="form-select" id="sel1" onchange="check_teeth()">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4"> >3</option>
                                </select>
                              </div>
                        </div>
                        <div id="selection_error" class="mb-4" style="display: none; background-color: rgb(255, 210, 210); padding: 1rem;">
                            Bei mehr als drei fehlenden Zähnen ist leider kein Versicherungsschutz möglich.
                        </div>
                        <div id="selection_info-damage2" class="mb-4" style="display: none; background-color: rgb(255 248 210); padding: 1rem; flex-direction: column;">
                            <h5>Wichtiger Hinweis</h5>
                            <p>
                                Aufgrund der zwei fehlenden Zähne werden Tarifleistungen in den ersten drei Kalenderjahren nach Versicherungsbeginn wie folgt begrenzt:
                                <br>Erstattungsfähig im tariflichen Rahmen sind Aufwendungen bis zu einem Rechnungsbetrag von
                            </p>
                                <ul>
                                    <li id="text1_damage2"></li>
                                    <li id="text2_damage2"></li>
                                    <li id="text3_damage2"></li>
                                </ul>
                            <p>
                                Diese Einschränkungen gelten nicht für Behandlungen von Unfallfolgen, wenn der Unfall nach Zu-Stande-Kommen des Vertrags eintritt. Der Versicherungsschutz weiterer versicherter Personen ist nicht betroffen.
                            </p>
                            <div class="form-check">
                                <input id="accept_damaged_2" type="checkbox" class="form-check-input" name="check" value="checkval" onclick="accept_warning(2)">
                                    Mit der beschriebenen Leistungseinschränkung bin ich einverstanden.
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                        </div>
                        <div id="selection_info-damage3" class="mb-4" style="display: none; background-color: rgb(255 248 210); padding: 1rem; flex-direction: column;">
                            <h5>Wichtiger Hinweis</h5>
                            <p>
                                Aufgrund der drei fehlenden Zähne werden Tarifleistungen in den ersten drei Kalenderjahren nach Versicherungsbeginn wie folgt begrenzt:
                                <br>Erstattungsfähig im tariflichen Rahmen sind Aufwendungen bis zu einem Rechnungsbetrag von
                            </p>
                                <ul>
                                    <li id="text1_damage3"></li>
                                    <li id="text2_damage3"></li>
                                    <li id="text3_damage3"></li>
                                </ul>
                            <p>
                                Diese Einschränkungen gelten nicht für Behandlungen von Unfallfolgen, wenn der Unfall nach Zu-Stande-Kommen des Vertrags eintritt. Der Versicherungsschutz weiterer versicherter Personen ist nicht betroffen.
                            </p>
                            <div class="form-check">
                                <input id="accept_damaged_3" type="checkbox" class="form-check-input" name="check" value="checkval" onclick="accept_warning(3)">
                                    Mit der beschriebenen Leistungseinschränkung bin ich einverstanden.
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                        </div>
                    </div>
                    <div id="extra_question3">
                        <p>Bestand innerhalb der letzten 6 Monate vor Vertragsabschluss eine anderweitige Zahnersatzversicherung?
                            <i class="fas fa fa-info-circle ml-2"></i>
                        </p>
                        <div style="display: flex;">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio2" value="option1">Ja
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check ml-3">
                                <input type="radio" class="form-check-input" id="radio4" name="optradio2" value="option2">Nein
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn_generate" disabled name="finish" type="submit" value="Angebot generieren" class="btn btn-primary col-12 col-md-3" onclick="gen_extra_pdf()" style="margin-top: 1rem; margin-bottom: 1.2rem; min-width: 320px;" data-bs-dismiss="modal">     
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let ids = ['extra_small', 'extra_medium', 'extra_large']
    let step1=false
    let step2=true
    let step3=false

    function accept_warning(id){
        warning = document.getElementById('accept_damaged_'+id)
        if (warning.checked){
            step2 = true
        } else {
            step2 = false
        }
        can_generate()
    }

    function can_generate(){
        if (step1 && step2){
            document.getElementById('btn_generate').disabled = false
        } else {
            document.getElementById('btn_generate').disabled = true
        }
    }

    function removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax= arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
    }

    function select_extra(identifier){
        if (document.getElementById(identifier).innerText.toUpperCase() == "AUSGEWÄHLT") {
            el = document.getElementById(identifier)
            el.innerText="Auswählen"
            el.style.backgroundColor="#00212d"  
            document.getElementById('loader_extra_angebot').style.display = 'None'
            document.getElementById('gen_extra_offer').disabled = true
            document.getElementById('gen_extra_offer').innerHTML = "Angebot generieren"
            document.getElementById('loader_extra_angebot').style.display = 'none'


        } else if (identifier == "extra_small"){
            select_extra_el(identifier) 
            deselect_extras(identifier)
            get_extra_offer(identifier)
            document.getElementById('gen_extra_offer').disabled = false
            document.getElementById('gen_extra_offer').innerHTML = "Angebot generieren"

        } else if (identifier == "extra_medium") {
            select_extra_el(identifier) 
            deselect_extras(identifier)
            get_extra_offer(identifier)
            document.getElementById('gen_extra_offer').disabled = false
            document.getElementById('gen_extra_offer').innerHTML = "Angebot generieren"


        } else {            
            select_extra_el(identifier) 
            deselect_extras(identifier)
            get_extra_offer(identifier)
            document.getElementById('gen_extra_offer').disabled = false
            document.getElementById('gen_extra_offer').innerHTML = "Angebot generieren"
            
        }


        
    }

    function get_extra_offer(identifier){
        let select

        if (identifier=="extra_small"){
            selection = 0
        } else if (identifier=="extra_medium"){
            selection = 1
        } else if (identifier=="extra_large"){
            selection = 2
        } else {
            selection = -1
        }

        // context ={
        //     "message": "get_extra_offer",
        //     "birthdate": "{{ request.session.geburtsdatum }}",
        //     "selection": selection,
        //     "anrede": "{{ request.session.anrede }}",
        //     "vorname": "{{ request.session.vorname }}",
        //     "nachname": "{{ request.session.nachname }}",
        //     "laufende_behandlung": "",
        //     "anderweitiger_vertrag": ""
        // }
        // systemSocket.send(JSON.stringify(context))
    }

    function select_extra_el(identifier){
        el = document.getElementById(identifier)
        el.innerText="Ausgewählt"
        el.style.backgroundColor="#239ac5"
     
    }

    function deselect_extras(identifier){
        deselection = removeA(ids, identifier)
        for (let i = 0; i < deselection.length; i++) {
            el = document.getElementById(deselection[i])
            el.innerText="Auswählen"
            el.style.backgroundColor="#00212d"
        }

        ids.push(identifier)
        
    }

    function show_error(){
        if (document.getElementById('radio1').checked == true){
            document.getElementById('radio1_error').style.display = "flex"
            step1 = false
        } else {
            document.getElementById('radio1_error').style.display = "none"
            step1 = true
        }
        can_generate()
    }

    function check_teeth(){
        t_selection = document.getElementById("sel1").value;
        selection_error = document.getElementById('selection_error');
        selection_infoDamage3 = document.getElementById('selection_info-damage3');
        selection_infoDamage2 = document.getElementById('selection_info-damage2');

        if (t_selection == "2") {
            selection_error.style.display= "none"
            selection_infoDamage3.style.display= "none"
            selection_infoDamage2.style.display= "flex"

            check_damaged = document.getElementById('accept_damaged_2')
            if (check_damaged.checked){
                step2 = true
            } else {
                step2 = false
            }

        }else if (t_selection == "3"){
            selection_error.style.display= "none"
            selection_infoDamage2.style.display= "none"
            selection_infoDamage3.style.display= "flex"

            check_damaged = document.getElementById('accept_damaged_3')
            if (check_damaged.checked){
                step2 = true
            } else {
                step2 = false
            }

        }else if (t_selection == "4"){
            selection_error.style.display= "flex"
            selection_infoDamage2.style.display= "none"
            selection_infoDamage3.style.display= "none"

            step2 = false
        } else {
            selection_error.style.display= "none"
            selection_infoDamage2.style.display= "none"
            selection_infoDamage3.style.display= "none"
            step2 = true
        }

        can_generate()
    }

    function gen_extra_pdf(){
        document.getElementById('gen_extra_offer').innerHTML = "Ihr Angebot wird erstellt ..."
        document.getElementById('gen_extra_offer').disabled = true
        document.getElementById('loader_extra_angebot').style.display = 'flex'

        context ={
            "message": "get_extra_offer_pdf",
            "birthdate": "{{ request.session.geburtsdatum }}"
        }
        systemSocket.send(JSON.stringify(context))   
    }
</script>

<style>
    .fa-info-circle {
        font-size: 1.3rem;
    }
    .modal {
        --bs-modal-width: 60%!important;
    }
    .banner-title {
        margin-bottom: 0.5rem!important;
    }
    .loader-banner{
        width: 2rem!important;
        height: 2rem!important;
    }
    .extra-card{
        transition: all .2s ease-in-out;
        max-width: 300px!important;
        min-width: 294px;
    }
    .extra-card:hover{
        transform: scale(1.1);
    }
    .card-wrapper{
        outline: rgb(3, 108, 219) solid 1px;
        border-radius: .6rem; 
        background-color: white;
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        margin-bottom: 1rem;
    }
    .offer {
        color:#1adeff;
    }
    .list-icon{
        margin-right: 0rem!important;
    }
    .list-wrapper{
        padding: .6rem;
        background-color: #ffffff; 
        border-radius: .2rem; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    li{
        display: flex;
        align-items: baseline;
    }
    ul{
        list-style: none;
    }
    hr {
        margin: 0.2rem 0!important;
    }
</style>

{% endblock %}
