{% load static %}
{% block content %}

<h5><i class="fas fa-file" style="margin-bottom: .5rem;"></i>Ihre Dokumente</h5>
<div id="loader_extra_angebot" style="display: none;">
    <div class="loader"></div>
    <p class="loading-text">Ihr Zahnersatzangebot wird erstellt ...</p>
</div>
<div id="extra_PDF" style="display: none;">
    <i class="fas fa-regular fa-file-pdf" style="font-size: 1.7rem; color: #3e1a1a;"></i>
    <a 
        id="extra_link" 
        href="" 
        target="_blank" rel="noopener noreferrer" 
        download>
            Download - Ihr Zahnersatz Angebot
    </a>
</div>
<div id="extra_check" class="form-check mb-3"  style="margin-bottom: 2rem; margin-top: 1rem; display: none;" onclick="check_finish()">
    <input class="form-check-input" type="checkbox" value="" id="input_extra_check">
    <label class="form-check-label" for="flexCheckDefault">
        Ja, ich habe die Extra Vertragsunterlagen zur Kenntnis genommen.
    </label>
</div>


<div id="loader_angebot" style="display: none;">
    <div class="loader"></div>
    <p class="loading-text">Ihr Angebot wird erstellt ...</p>
</div>
<div id="personalizedPDF" style="display: none;">
    <i class="fas fa-regular fa-file-pdf" style="font-size: 1.7rem; color: #3e1a1a;"></i>
    <a 
        id="offer_link" 
        href="" 
        style="margin-bottom: 0px;" 
        target="_blank" rel="noopener noreferrer" 
        download> 
            Download - Ihr Persönliches Angebot
    </a>
</div>
<div id="angebot_check" class="form-check" style="margin-bottom: 2rem; margin-top: 1rem; display: none;" onclick="check_finish()">
    <input class="form-check-input" type="checkbox" value="" id="input_angebot_check">
    <label class="form-check-label" for="flexCheckDefault">
        Ja, ich habe die Vertragsunterlagen zur Kenntnis genommen.
    </label>
</div>


{% for file in request.session.standardPDF %}
    <div style="display: flex; margin-bottom: 1rem;">
        <i class="fas fa-regular fa-file-pdf" style="font-size: 1.7rem; color: #3e1a1a;"></i>
        <a 
            href="{{file.1}}" 
            style="margin-bottom: 0px;" 
            target="_blank" rel="noopener noreferrer" 
            download>
                Download - {{file.0}}
        </a>
    </div>    
{% endfor %}

<div id="einwilligung_check" class="form-check" style="margin-bottom: 2rem;" onclick="check_finish()">
    <input class="form-check-input" type="checkbox" value="" id="input_einwilligung_check">
    <label class="form-check-label" for="flexCheckDefault">
        Ich habe die "Einwilligung in die Erhebung und Verwendung von Gesundheitsdaten und Schweigepflichtsentbindungserklärung" gelesen und erteile die darin enthaltenen Einwilligungen.
    </label>
</div>
<div id="privacy_check" class="form-check" onclick="check_finish()">
    <input class="form-check-input" type="checkbox" value="" id="input_privacy_check">
    <label class="form-check-label" for="flexCheckDefault">
        Ich habe die Informationspflichten nach Art. 13 DSGVO zur Kenntnis genommen.
    </label>
</div>


{% endblock %}