{% extends 'main.html' %}

{% load static %}
{% load auth_extras %}

{% block content %}



<h3 class="text-center" style="margin-top: 3rem;">Passwortvergabe</h3>

{% if request.user|has_group:"school-admins" or request.user|has_group:"teachers" %}
    <h6 class="text-center" style="margin-top: 5vh;">Vielen Dank für die Bestätigung Ihres Benutzerkontos. <br>Bitte legen Sie jetzt ein Passwort für Ihr Benutzerkonto an.</h6>
{% else %}
    <h6 class="text-center" style="margin-top: 5vh;">Vielen Dank für die Bestätigung Deines Benutzerkontos. <br>Bitte lege jetzt ein Passwort für Dein Benutzerkonto an.</h6>
{% endif %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-xl-flex justify-content-center">
                <div class="col-md text-center">
                    <form method="POST" action="{% url 'setpasswordfirst' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p>Ihr Passwort darf Ihren anderen persönlichen Daten nicht zu ähnlich sein. <br>
                                    Ihr Passwort muss mindestens 8 Zeichen enthalten. <br>
                                    Ihr Passwort darf kein häufig verwendetes Passwort sein. <br>
                                    Ihr Kennwort darf nicht ausschließlich aus Zahlen bestehen.</p>
                            </div>
                        {% endif %}
                        {{ form }}
             
                        
                        <div class="text-center">
                            <input type="submit" value="Passwort setzen" class="btn btn-primary" style="margin-top: 10%">
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}