{% extends 'app/main.html' %}

{% load static %}

{% block content %}


{% if validlink %}

{%  if form.errors %}
	<div class="alert alert-warning" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<p>Mit Ihrer Eingabe ist etwas nicht in Ordnung!</p>

	</div>
{%  endif %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h4 id="form-title">PASSWORT ÄNDERN</h4>
            </div>
            <div class="password-form">
                <p class="text-center">Bitte geben Sie Ihr neues Passwort zweimal ein.</p>
                <form method="POST" action="">
                    {% csrf_token %}
                
                    {{form}}
                    <!-- <form action="" method="post">
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn btn-primary login_btn" type="submit" value="Passwort ändern">
                        </div>
                    </form> -->
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary login_btn" type="submit" value="Passwort ändern">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% else %}

<p class="text-center">Der Link zum Zurücksetzen des Passworts war ungültig, möglicherweise weil er bereits verwendet wurde. <br>Bitte fordern Sie ein neues Passwort zum Zurücksetzen an.</p>
<div class="d-flex justify-content-center">
    <a href="/">Zur Anmeldung</a>
</div>
{% endif %}


{% endblock %}