{% extends 'app/main.html' %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card text-center">
            <div class="d-flex justify-content-center"> 
                <h4 id="form-title">PASSWORT ZURÜCKSETZEN</h4>
            </div>   
                <div style="max-width: 55rem;">
                    <p>Wir haben Ihnen eine Email mit den notwendigen Schritten zum Zurücksetzen Ihres Passworts zugesandt. 
                        <br>Falls Sie keine Email erhalten haben, vergewissern Sie sich bitte, dass Sie Ihre bei uns hinterlegte Email-Adresse benutzt haben. Bitte schauen Sie auch in Ihrem Spam-Ordner nach unserer Email.</p>
                </div>
        </div>
    </div>
</div>




{% endblock %}