<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;">
    <!-- HIDDEN PREHEADER TEXT -->
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"> </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tr>
            <td bgcolor="#059BCB" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 800px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#059BCB" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 800px;">
                    <tr>
                        <td bgcolor="#F6FDFF" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                            <img src="https://www.zahnidee.de/site/templates/images/Logo-Zahnidee.svg" width="250" height="auto" style="display: block; border: 0px;" />
                            <h5 style="color: #2b2b2b: font-size: 45px; font-weight: 400; margin: 2;">Guten Tag, {{ user }},</h5> 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#F6FDFF" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 800px;">
                    <tr>
                        <td bgcolor="#F6FDFF" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            {% if paste_text == 1%}                     
                                <p style="margin: 0;">
                                    schön, dass Sie sich für den Versicherungsschutz der Barmenia entschieden haben. Für Ihr Vertrauen danken wir Ihnen.<br> 
                                    Die Barmenia bestätigt den Abschluss Ihrer Ergänzungsversicherung.<br>                       
                                    Im Anhang erhalten Sie Ihren Versicherungsschein.<br>
                                    <br>
                                    <br>
                                    Mehr Zahn „IDEE“ – unser zusätzliches Angebot für Dich:<br> 
                                    <br>
                                    Du kennst ja bereits unsere ZahnReinigungsFlat und profitierst von den vielen Vorteilen. Das zeigt, dass dir gesunde Zähne besonders wichtig sind! Heute habe ich eine tolle Nachricht für dich: Du kannst ab sofort deinen Versicherungsschutz erweitern und erhöhen – und zwar bis zu einervollständigen Kostenübernahme von 100 % bei Zahnersatz.<br> 
                                    <br>
                                    Noch mehr lächeln mit Mehr Zahn „IDEE“<br>
                                    Wenn du jetzt deine ZahnReinigungsFlat mit dem Tarif Mehr Zahn „IDEE“ kombinierst, entfällt die Leistungsstaffel für die Zahnerhaltungsmaßnahmen. Dann sind hochwertige Kunststoff-Füllungen, Wurzel- und Parodontose-Behandlungen, Aufbiss-Schienen und schmerzlindernde Maßnahmenohne Begrenzung zu 100 % inklusive und du erhältst zusätzlich alle zwei Jahre einen 200 EUR Bleaching-Bonus.<br>
                                    <br>
                                    Zusätzlich sicherst Du Dir den Vorteil der verkürzten Zahnstaffel, so stehen Dir ab dem 01. Januar 2023 bereits maximal 3.000€ Leistung für Zahnersatz zur Verfügung.<br>
                                    <br>
                                    SICHERE DIR JETZT DEINEN BONUS.<br>
                                    Bei 80% Kostenübernahme für 10,60€<br>
                                    Bei 90% Kostenübernahme für 16,80€<br>
                                    Bei 100% Kostenübernahme für 22,50€ <br>
                                    <br>
                                    JETZT einfach auf den <a href="https://www.zahnidee.de/zahnzusatz/" target="_blank">Link</a> und online buchen.<br>
                                    <br>
                                    Hier erhältst du alle wichtigen Infos rund um dieses tolle Angebot. Und mit wenigen Klicks hast du die komplette Lösung für deine Zahngesundheit.<br>
                                    Du hast Fragen? Gerne helfen wir dir weiter – ruf uns einfach an.
                                </p>
                            {% elif paste_text == 2 %}
                                <p style="margin: 0;">
                                    schön, dass Sie sich für den Versicherungsschutz der Barmenia entschieden haben. Für Ihr Vertrauen danken wir Ihnen.<br>
                                    Die Barmenia bestätigt den Abschluss Ihrer Versicherungen (ZahnReinigungsFlat und Mehr Zahn „IDEE“).<br>
                                    Im Anhang erhalten Sie Ihre Versicherungsscheine.<br>
                                    <br>
                                    Du hast Fragen? Gerne helfen wir dir weiter – ruf uns einfach an.<br>
                                </p>
                            {% else %}
                                <p style="margin: 0;">
                                    schön, dass Sie sich für den Versicherungsschutz der Barmenia entschieden haben. Für Ihr Vertrauen danken wir Ihnen.<br>
                                    Die Barmenia bestätigt den Abschluss Ihre Versicherung (Mehr Zahn „IDEE“).<br>
                                    Im Anhang erhalten Sie Ihren Versicherungsschein.<br>
                                    <br>
                                    Du hast Fragen? Gerne helfen wir dir weiter – ruf uns einfach an.<br>
                                </p>         
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F6FDFF" align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Lieben herzlichen Gruß <br>Maurizio Costagliola<br>Ihre Zahnidee</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F6FDFF" align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#F6FDFF" align="center" style="padding: 20px 30px 60px 30px;">
                                        <table border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 1rem;">
                                            <tr>
                                                <td 
                                                    align="center" 
                                                    style="border-radius: 3px;" bgcolor="#00A8AC">
                                                        {% if paste_text == 3%}
                                                            <a 
                                                                href="{{ offer_pdf }}" 
                                                                target="_blank" 
                                                                style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #82d0f5; display: inline-block;"
                                                                >
                                                                    Ihr Mehr Zahn "IDEE" Angebot herunterladen
                                                            </a>
                                                        {% else %}
                                                            <a 
                                                                href="{{ offer_pdf }}" 
                                                                target="_blank" 
                                                                style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #82d0f5; display: inline-block;"
                                                                >
                                                                    Ihr ZahnReinigungsFlat Angebot herunterladen
                                                            </a>
                                                        {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                        {% if not offer_only %}
                                            {% if extra_order %}
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td 
                                                            align="center" 
                                                            style="border-radius: 3px;" bgcolor="#059BCB">
                                                                <a 
                                                                    href="{{extra_pdf}}" 
                                                                    target="_blank" 
                                                                    style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #82d0f5; display: inline-block;"
                                                                    >
                                                                        Ihr Mehr Zahn "IDEE" Angebot herunterladen
                                                                </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% else %}
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td 
                                                            align="center" 
                                                            style="border-radius: 3px;" bgcolor="#059BCB">
                                                                <a 
                                                                    href="{{ extra_url }}" 
                                                                    target="_blank" 
                                                                    style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #82d0f5; display: inline-block;"
                                                                    >
                                                                        Jetzt Zahnersatz abschließen
                                                                </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>                              
                            </table>
                        </td>
                    </tr> <!-- COPY -->
                    <tr>
                        <td bgcolor="#F6FDFF" align="left" style="padding: 0px 30px 0px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;"></p>
                        </td>
                    </tr> <!-- COPY -->

                </table>
            </td>
        </tr>
    </table>
</body>
</html>