{%  extends 'main.html' %}

{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-10 offset-md-1" style="max-width: 1500px;margin-left: auto;margin-right: auto;">
        <div class="form-content">
            <div class="card col-12 shadow-sm">
                <h5><i class="fas fa-tooth"></i>Zahnersatz</h5>

                <div class="row">
                    <div id="zusatz">
                        {% include 'components/banner.html' %}
                    </div>
                </div>
            </div>
            <div class="card col-12 shadow-sm">
                {% include 'components/dokumente.html' %}
                
            </div>
            <div style="display: flex; justify-content: center;">
                <input 
                    id="finish" 
                    onclick="finish_order()"
                    name="next" 
                    type="submit" 
                    value="Bitte warten" 
                    data-bs-toggle="modal" 
                    data-bs-target="#finishModalLoader" 
                    class="btn btn-primary col-12 col-md-3" 
                    style="margin-top: 1rem; margin-bottom: 1.2rem;" 
                    disabled>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="finishModalLoader" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="finishModalLoaderLabel" aria-hidden="true">
    <div id="finish-dialog-loader" class="modal-dialog" role="document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="justify-content: center;">
                    <h5 class="modal-title text-center" id="finishModalLabel">Ihr Vorgang wird abgeschlossen</h5>
                </div>
                <div class="modal-body text-center" style="display: flex; justify-content: center;">
                    <div id="loader_finish">
                        <div class="loader" style="width: 2rem; height: 2rem"></div>
                        <p class="loading-text"></p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div id="finish-dialog" class="modal-dialog" role="document" style="display: none; flex-direction: column;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="justify-content: center;">
                    <h5 class="modal-title text-center" id="finishModalLabel">Glückwunsch</h5>
                </div>
                <div class="modal-body text-center">
                    Ihr Antragsvorgang wurde erfolgreich durchgeführt.
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="finishModalLabel">Wie geht es jetzt weiter?</h5>
                </div>
                <div class="modal-body">
                    <p>1. Ihr Versicherungsschein wird Ihnen innerhalb von einem Werktag per E-Mail zugestellt.</p>
                    <p>2. Alle versicherten Leistungen können Sie ab Erhalt Ihrer Vertragsdokumente direkt in Anspruch nehmen.</p>
                    <p>3. Rechnungen reichen Sie schnell und bequem per Smartphone-App oder per Email bei der Barmenia Krankenversicherung ein.</p>
                </div>
                <div class="modal-footer" style="display: flex;justify-content: center;">
                    <input 
                        id="close_process" 
                        name="next"
                        type="submit" 
                        value="Verstanden" 
                        class="btn btn-primary col-12 col-md-3" 
                        style="margin-top: 1rem; margin-bottom: 1.2rem; min-width: 260px;">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    let extra_behandlung
    let str_missing_teeth
    let current_contract
    let selection
    window.onload = function(e){ 
        document.getElementById('loader-col-small').style.display = "flex"
        document.getElementById('loader-col-medium').style.display = "flex"
        document.getElementById('loader-col-large').style.display = "flex"
    }
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    let systemSocket = new WebSocket(ws_scheme +'://'+window.location.host+ '/ws/extra-scraper/');
    systemSocket.onopen = function(e) {   
        console.log('systemsocket connected');
		uuid = window.location.pathname.split('/')[2]

        name='user-id'
        document.cookie = name+"="+uuid + "; path=/";
    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.message == "get_uuid"){
            name='user-id'
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                if (match != data.uuid){
                    context ={
                        "message": "check-uuid-exists",
                        "uuid": match[2]
                    }
                    systemSocket.send(JSON.stringify(context));
                }
            }
            else{    
                document.cookie = name+"="+data.uuid + "; path=/";
            }
        }
        if (data.message == "checked-uuid"){
            if (data.checked==false){
                systemSocket.close()
            } else {
                context ={
                    "message": "get-extra-price",
                    "birthdate": "{{ request.session.geburtsdatum }}",
                    "vorname": "{{ request.session.vorname }}",
                    "anrede": "{{ request.session.anrede }}",
                    "nachname": "{{ request.session.nachname }}",
                    "plz": "{{ request.session.plz }}",
                    "ort": "{{ request.session.ort }}",
                    "strasse": "{{ request.session.strasse }}",
                    "hausnr": "{{ request.session.hausnr }}",
                    "email": "{{ request.session.email }}",
                    "iban": "{{ request.session.iban }}"
                }
                systemSocket.send(JSON.stringify(context));
                console.log(context)
            }
        }
        if (data.message == "serve_extra_price"){    
            document.getElementById('offer-small-eur').innerText = data.small
            document.getElementById('loader-col-small').style.display = "none"
            document.getElementById('offer-small').style.display = "flex"
            document.getElementById('extra_small').disabled = false        

            document.getElementById('offer-medium-eur').innerText = data.medium
            document.getElementById('loader-col-medium').style.display = "none"
            document.getElementById('offer-medium').style.display = "flex"
            document.getElementById('extra_medium').disabled = false

            document.getElementById('offer-large-eur').innerText = data.large
            document.getElementById('loader-col-large').style.display = "none"
            document.getElementById('offer-large').style.display = "flex"
            document.getElementById('extra_large').disabled = false

            document.getElementById('text1_damage2').innerText = data.damage_text.text1_damage2
            document.getElementById('text2_damage2').innerText = data.damage_text.text2_damage2
            document.getElementById('text3_damage2').innerText = data.damage_text.text3_damage2
            document.getElementById('text1_damage3').innerText = data.damage_text.text1_damage3
            document.getElementById('text2_damage3').innerText = data.damage_text.text2_damage3
            document.getElementById('text3_damage3').innerText = data.damage_text.text3_damage3
            
            
            context ={
                "message": "extra-price-received",
                "birthdate": "{{ request.session.geburtsdatum }}",
                "vorname": "{{ request.session.vorname }}",
                "anrede": "{{ request.session.anrede }}",
                "nachname": "{{ request.session.nachname }}",
                "plz": "{{ request.session.plz }}",
                "ort": "{{ request.session.ort }}",
                "strasse": "{{ request.session.strasse }}",
                "hausnr": "{{ request.session.hausnr }}",
                "email": "{{ request.session.email }}",
                "iban": "{{ request.session.iban }}"
            }
            systemSocket.send(JSON.stringify(context));            
            
        }
        if (data.message == "extra_done"){
            document.getElementById('loader_extra_angebot').style.display = 'none'
            document.getElementById('extra_PDF').style.display = 'flex'
            document.getElementById('extra_check').style.display ='flex'

            // document.getElementById('finish').disabled = false;
            // document.getElementById('finish').value = 'Abschließen';
        }

        if (data.message == "Congrats"){
            console.log('youre all set up')
            document.getElementById('finish-dialog-loader').style.display='none'
            document.getElementById('finish-dialog').style.display='flex'
        }
    }

    systemSocket.onclose = function (e) {
        console.log('Systemsocket closed');
    };



    function finish_order(){
        context ={
            "message": "finish_orders",
            "birthdate": "{{ request.session.geburtsdatum }}",
            "anrede": "{{ request.session.anrede }}",
            "vorname": "{{ request.session.vorname }}",
            "nachname": "{{ request.session.nachname }}",
            "plz": "{{ request.session.plz }}",
            "ort": "{{ request.session.ort }}",
            "strasse": "{{ request.session.strasse }}",
            "hausnr": "{{ request.session.hausnr }}",
            "email": "{{ request.session.email }}",
            "iban": "{{ request.session.iban }}",
            "extra_behandlung": extra_behandlung,
            "missing_teeth": parseInt(str_missing_teeth),
            "current_contract": current_contract,
            "selection": selection,
            "extra_order": extra_order

        }
        console.log(context)
        systemSocket.send(JSON.stringify(context))
    }

    function check_finish(){
        extra_check = document.getElementById('input_extra_check').checked
        angebot_check = document.getElementById('input_angebot_check').checked
        einwilligung_check = document.getElementById('input_einwilligung_check').checked
        privacy_check = document.getElementById('input_privacy_check').checked
        btn_finish = document.getElementById('finish')

        if (extra_check && einwilligung_check && privacy_check){
            btn_finish.disabled = false;
            btn_finish.value = 'Abschließen';

        } else {
            btn_finish.disabled = true;
            btn_finish.value = 'Bitte warten';          
        }
    }
</script>

<style>
    .loader {
        border: 0.2rem solid #f3f3f3; /* Light grey */
        border-top: 0.2rem solid #3498db; /* Blue */
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

{% endblock %}