{%  extends 'main.html' %}

{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-10 offset-md-1" style="max-width: 1500px;margin-left: auto;margin-right: auto;">
        <div class="form-content">
            <div class="card col-12 shadow-sm">
                <h5><i class="fas fa-tooth"></i>Zahnersatz</h5>

                <div class="row">
                    <div id="zusatz">
                        {% include 'components/banner.html' %}
                    </div>
                </div>
            </div>
            <div class="card col-12 shadow-sm">
                {% include 'components/dokumente.html' %}
                
            </div>
        </div>
    </div>
</div>


<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/extra-scraper/`);
    systemSocket.onopen = function(e) {   
        console.log('systemsocket connected');
		uuid = window.location.pathname.split('/')[2]

        name='user-id'
        document.cookie = name+"="+uuid + "; path=/";
    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.message == "get_uuid"){
            name='user-id'
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                if (match != data.uuid){
                    context ={
                        "message": "check-uuid-exists",
                        "uuid": match[2]
                    }
                    systemSocket.send(JSON.stringify(context));
                }
            }
            else{    
                document.cookie = name+"="+data.uuid + "; path=/";
            }
        }
        if (data.message == "checked-uuid"){
            if (data.checked==false){
                systemSocket.close()
            } else {
                context ={
                    "message": "get-extra-price",
                    "birthdate": "{{ request.session.geburtsdatum }}",
                    "vorname": "{{ request.session.vorname }}",
                    "anrede": "{{ request.session.anrede }}",
                    "nachname": "{{ request.session.nachname }}",
                    "plz": "{{ request.session.plz }}",
                    "ort": "{{ request.session.ort }}",
                    "strasse": "{{ request.session.strasse }}",
                    "hausnr": "{{ request.session.hausnr }}",
                    "email": "{{ request.session.email }}",
                    "iban": "{{ request.session.iban }}"
                }
                systemSocket.send(JSON.stringify(context));
                console.log(context)
            }
        }
        if (data.message == "serve_extra_price"){    
            document.getElementById('offer-small-eur').innerText = data.small
            document.getElementById('loader-col-small').style.display = "none"
            document.getElementById('offer-small').style.display = "flex"
            document.getElementById('extra_small').disabled = false        

            document.getElementById('offer-medium-eur').innerText = data.medium
            document.getElementById('loader-col-medium').style.display = "none"
            document.getElementById('offer-medium').style.display = "flex"
            document.getElementById('extra_medium').disabled = false

            document.getElementById('offer-large-eur').innerText = data.large
            document.getElementById('loader-col-large').style.display = "none"
            document.getElementById('offer-large').style.display = "flex"
            document.getElementById('extra_large').disabled = false

            document.getElementById('text1_damage2').innerText = data.damage_text.text1_damage2
            document.getElementById('text2_damage2').innerText = data.damage_text.text2_damage2
            document.getElementById('text3_damage2').innerText = data.damage_text.text3_damage2
            document.getElementById('text1_damage3').innerText = data.damage_text.text1_damage3
            document.getElementById('text2_damage3').innerText = data.damage_text.text2_damage3
            document.getElementById('text3_damage3').innerText = data.damage_text.text3_damage3
            
            
            context ={
                "message": "extra-price-received",
                "birthdate": "{{ request.session.geburtsdatum }}",
                "vorname": "{{ request.session.vorname }}",
                "anrede": "{{ request.session.anrede }}",
                "nachname": "{{ request.session.nachname }}",
                "plz": "{{ request.session.plz }}",
                "ort": "{{ request.session.ort }}",
                "strasse": "{{ request.session.strasse }}",
                "hausnr": "{{ request.session.hausnr }}",
                "email": "{{ request.session.email }}",
                "iban": "{{ request.session.iban }}"
            }
            systemSocket.send(JSON.stringify(context));            
            
        }
    }

    systemSocket.onclose = function (e) {
        console.log('Systemsocket closed');
    };
</script>

{% endblock %}