{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
<div class="col-12 col-md-10 offset-md-1">
    <div class="form-content">
        <div style="display: flex;justify-content: space-between;">
            <p>
                <span class="badge badge-pill badge-dark mr-2">1</span>
                Daten
            </p>
            <p>
                <span class="badge badge-pill badge-dark mr-2">2</span>
                Zusammenfassung
            </p>
        </div>
        <form method="POST" action="" style="margin-top: 2rem;">
            {% csrf_token %}
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Wer wird versichert?</h5>
                <div class="row">
                    <select class="form-select col-12 col-md-2" aria-label="Default select example">
                        <option selected>Anrede</option>
                        <option value="1">Herr</option>
                        <option value="2">Frau</option>
                        <option value="3">Nicht Binär</option>
                    </select>
                    <input class="col-12 col-md-5" type="text" placeholder="Vorname">
                    <input class="col-12 col-md-5" type="text" placeholder="Nachname">
                    <input type="email" class="col-12 col-md-8" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail Adresse">
                    <input class="col-12 col-md-4" type="date" placeholder="Nachname">
                    <input class="col-12 col-md-7" type="text" placeholder="Straße & Hausnummer">
                    <input class="col-6 col-md-2" type="text" placeholder="PLZ">
                    <input class="col-6 col-md-3" type="text" placeholder="Ort">
                </div>
            </div>


            <div class="card col-12" style="margin-top: 2rem;">
                <h5><i class="fas fa-solid fa-wallet"></i>Bankverbindung</h5>
                <input id="iban" class="col-12 col-md-6 form-control" type="text" placeholder="IBAN" onfocusout="validateIBAN()"></input>
                <small class="text-center mt-5">Mit der Eingabe meines Kontos erteile ich das Sepa-Lastschriftmandat zum Einzug der Beiträge von meinem Konto</small>
            </div>

            <div style="text-align: end;">
                <input name="next" type="submit" value="Weiter" class="btn btn-primary col-12 col-md-3" style="margin-top: 5rem;">
            </div>
            
        </form>
    </div>
</div>
</div>

<style>
    .form-control.is-false {
        border-color: #871934;
    }
    .form-control.is-valid, .was-validated .form-control:valid {
        border-color: #198754;
    }
    .fas {
        margin-right: 1rem;
    }
    .row {
        padding: 1rem
    }
    .card{
        padding: 1rem;
    }

    .form-content {
        width: 100%;
    }
    /* TABS */
    h2.inactive {
        color: #cccccc;
    }

    h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
    }
    /* FORM TYPOGRAPHY*/
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #00212d;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgb(3 19 27 / 27%);
        box-shadow: 0 10px 30px 0 rgb(3 19 27 / 27%);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    input[type=password], input[type=text], input[type=email], input[type=date], .form-select {
        background-color: #031c261c;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        margin-top: 5px;
        min-height: 4rem;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    input[type=password]:focus, input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, .form-select:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=password]:placeholder {
        color: #0d0d0d;
    }
</style>

<script>
    
</script>

<script src="{% static 'js/iban.js' %}"></script>
<script>
    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }

    function validateIBAN(){
        iban = document.getElementById("iban")
        if (IBAN.isValid(iban.value)){
            iban.classList.remove("is-false");
            iban.classList.add("is-valid");
        } else {
            iban.classList.remove("is-valid");
            iban.classList.add("is-false");
        }
    }


    // const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    // const websocketState = document.getElementById("websocket")

    // systemSocket.onopen = function (e) {
    //     websocketState.classList.remove('alert-danger');
    //     websocketState.classList.add('alert-success');
    //     websocketState.innerText = "Connected"


    //     // check if user has cookie 
    //     if (document.cookie.indexOf('deviceID=')){
    //         device_id = Math.floor(100000 + Math.random() * 900000)
    //         document.cookie = "deviceID=" + device_id;
        
    //     } else {
    //         // create new device id
    //         let name = "deviceID=";
    //         let ca = document.cookie.split(';');
    //         for(let i = 0; i < ca.length; i++) {
    //             let c = ca[i];
    //             while (c.charAt(0) == ' ') {
    //                 c = c.substring(1);
    //             }
    //             if (c.indexOf(name) == 0) {
    //                 device_id = c.substring(name.length, c.length)
    //                 //return c.substring(name.length, c.length);
    //             }
    //         }
      
            
    //     };
   
    //     console.log(device_id)
    //     systemSocket.send(JSON.stringify({"message": 'client-connected',"deviceID": device_id}));

    // };

    // systemSocket.onmessage = function (e) {
    //     const data = JSON.parse(e.data);
    //     //console.log(data)
    //     // cpu.refresh(data.cpu_percent);
    //     // ram.refresh(data.ram_percent);
    // };
    
    // systemSocket.onclose = function (e) {
    //     console.error('Chat socket closed');
    //     websocketState.classList.remove('alert-success');
    //     websocketState.classList.add('alert-danger');
    //     websocketState.innerText = "Not Connected"

    // };

    // function send_message(){        
    //     systemSocket.send(JSON.stringify({"message": 'start'}));
    //     console.log()
    // }
    // function change_timeout(){        
    //     systemSocket.send(JSON.stringify({"message": 30}));
    // }
    // function stop_carrousel(){        
    //     systemSocket.send(JSON.stringify({"message": 'stop'}));
    // }
    // function reset(){        
    //     systemSocket.send(JSON.stringify({"message": 'reset'}));
    // }




</script>


<style>
    .controls{
        display: flex;
        justify-content: space-evenly;
    }
</style>


{% endblock %}