{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="form-content">
            <div style="display: flex;justify-content: space-between;">
                <p>
                    <span class="badge badge-pill badge-dark mr-2">1</span>
                    Daten
                </p>
                <p>
                    <span class="badge badge-pill badge-dark mr-2">2</span>
                    Zusammenfassung
                </p>
            </div>
            <form method="POST" action="" style="margin-top: 2rem;">
                {% csrf_token %}
                <div class="card col-12">
                    <h5><i class="fas fa-user"></i>Wer wird versichert?</h5>
                    <div class="row">
                        <select id="andrede" name="anrede" class="select col-12 col-md-2" aria-label="Default select example">
                            <option selected>Anrede</option>
                            <option value="Frau">Frau</option>
                            <option value="Herr">Herr</option>
                        </select>
                        <input id="vorname" name="vorname" class="col-12 col-md-5" type="text" pattern="^[a-zA-Z]+$" placeholder="Vorname" onfocusout="validateForm(str_obj='vorname')">
                        <input id="nachname" name="nachname" class="col-12 col-md-5" type="text" placeholder="Nachname" onfocusout="validateForm(str_obj='nachname')">
                        <input type="email" class="col-12 col-md-8" id="email-addresse" name="email-addresse" aria-describedby="emailHelp" placeholder="E-Mail Adresse" onfocusout="validateForm(str_obj='email-addresse')">
                        <input id="geburtsdatum" name="geburtsdatum" class="col-12 col-md-4" type="text" placeholder="Geburtsdatum" onfocus="(this.type='date')" onfocusout="validateForm(str_obj='geburtsdatum')">
                        <input id="strasse" name="strasse" class="col-9 col-md-5" type="text" placeholder="Straße" onfocusout="validateForm(str_obj='strasse')">
                        <input id="hausnr" name="hausnr" class="col-3 col-md-2" type="text" placeholder="Haus-nr" onfocusout="validateForm(str_obj='hausnr')">
                        <input id="plz" name="plz" class="col-6 col-md-2" type="text" placeholder="PLZ" onfocusout="validateForm(str_obj='plz')">
                        <input id="ort" name="ort" class="col-6 col-md-3" type="text" placeholder="Ort" onfocusout="validateForm(str_obj='ort')">
                    </div>
                </div>


                <div class="card col-12" style="margin-top: 2rem;">
                    <h5><i class="fas fa-solid fa-wallet"></i>Bankverbindung</h5>
                    <input id="iban" name="iban" class="col-12 col-md-6 form-control" type="text" placeholder="IBAN" onfocusout="validateIBAN()"></input>
                    <small class="text-center mt-5"><b>Hinweis:</b> Mit der Eingabe meines Kontos erteile ich das Sepa-Lastschriftmandat zum Einzug der Beiträge von meinem Konto</small>
                    <input type="hidden" id="bic" name="bic" value="">
                    <input type="hidden" id="bankname" name="bankname" value="">
                </div>

                <div style="text-align: end;">
                    <input id="start" name="next" type="submit" value="Weiter" class="btn btn-primary col-12 col-md-3" style="margin-top: 5rem;" disabled>
                </div>
                
            </form>
        </div>
    </div>
</div>


<script>
    
</script>

<script>
    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }


    let vorname = document.getElementById("vorname").value;
    let nachname = document.getElementById("nachname").value;
    let email = document.getElementById("email").value;
    let geburtsdatum = document.getElementById("geburtsdatum").value;
    let strasse = document.getElementById("strasse").value;
    let hausnr = document.getElementById("hausnr").value;
    let plz = document.getElementById("plz").value;
    let ort = document.getElementById("ort").value;

    
    function validateForm(str_obj) {
        let element = document.getElementById(str_obj);
        console.log(element)
        if (element.value == "") {
            //alert(element.name + " must be filled out");
            element.style.borderColor = "#ffaaaa"
            return false;
        } else {
            element.style.borderColor = "#f6f6f6"
        }

        validateStart()

    }

    function validateStart(){
        let button = document.getElementById("start").disabled = false;
        if (vorname && nachname &&email && geburtsdatum && strasse && hausnr && plz && ort) {
            button.disabled = false;
        } else {
            button.disabled = false;
        }
    }

    function validateContext(element){
        if (element.name == ""){

        }
    }

    function validateIBAN(){
        iban = document.getElementById("iban")
        axios.get("https://openiban.com/validate/" + iban.value + "?getBIC=true")
            .then(function (response) {
                valid = response.data.valid

                document.getElementById('bic').value = response.data.bankData.bic
                document.getElementById('bankname').value = response.data.bankData.name

                if (valid){
                    iban.classList.remove("is-false");
                    iban.classList.add("is-valid");
                } else {
                    iban.classList.remove("is-valid");
                    iban.classList.add("is-false");
                }
            })

        validateForm("iban")
        
    }
</script>


<style>
    .controls{
        display: flex;
        justify-content: space-evenly;
    }
</style>


{% endblock %}