{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
   

</div>

<script>
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    let systemSocket = new WebSocket(ws_scheme+'://'+window.location.host + '/ws/scraper/');

    systemSocket.onopen = function(e) {   
        console.log('systemsocket connected');
    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.message == "set_uuid"){
            name='user-id'
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                console.log('cookie match')
                if (match != data.uuid){
                    console.log("match != data.uuid")
                    context ={
                        "message": "check-uuid-exists",
                        "uuid": match[2]
                    }
                    systemSocket.send(JSON.stringify(context));
                }
            }
            else {    
                document.cookie = name+"="+data.uuid + "; path=/; SameSite=None; Secure";
                //----------------------------------------------------------------------------------------------------
                // START PROCESS
                context ={
                        "message": "get-offer-price",
                }
                systemSocket.send(JSON.stringify(context));
            
            }
        }

        if (data.message == "checked-uuid"){
            if (data.checked==false){
                document.cookie = name+"="+data.uuid + "; path=/";
            }
            //----------------------------------------------------------------------------------------------------
            // START PROCESS
            context ={
                "message": "get-offer-price",
            }
            systemSocket.send(JSON.stringify(context));
            }
        
        
    };
    
    systemSocket.onclose = function (e) {
        console.log('Chat socket closed');
    };

    //----------------------------------------------------------------------------------------------------
    
    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }


    
    
</script>


<style>
    
</style>


{% endblock %}