{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="form-content">
            <div style="display: flex;justify-content: space-between;">
                <p>
                    <span class="badge badge-pill badge-dark mr-2">1</span>
                    Daten
                </p>
                <p>
                    <span class="badge badge-pill badge-dark mr-2">2</span>
                    Zusammenfassung
                </p>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Versicherung</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Tarif</p>
                    </div>
                    <div class="col-9">
                        <p>Dental-Vorsorge Premium</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beitrag</p>
                    </div>
                    <div class="col-9">
                        <p>15,80€ / Monat</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beginn</p>
                    </div>
                    <div class="col-9">
                        <p>0.11.2022</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Zahnersatz (Optional)</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" onclick="show_zusatz()">
                    <label class="form-check-label" for="mySwitch">Sofort Kosten für Zahnersatz sichern!</label>
                </div>
                <div id="zusatz" style="display: none;">
                    {% include 'components/banner.html' %}
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Versicherte Person</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Person</p>
                    </div>
                    <div class="col-9">
                        <p>
                            {{ request.session.anrede }} {{ request.session.vorname }} {{ request.session.nachname }} 
                            <br> 
                            {{ request.session.strasse }}
                            <br>
                            {{ request.session.plz }}, {{ request.session.ort }}
                        </p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Kontakt</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.email }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Geburtsdatum</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.geburtsdatum }}</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Bankdaten</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>IBAN</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.iban }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>BIC</p>
                    </div>
                    <div class="col-9">
                        <p>HELADEFFXXX</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Bankname</p>
                    </div>
                    <div class="col-9">
                        <p>Landesbank-Hessen-Thür-Girozentrale</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Zahlungsart</p>
                    </div>
                    <div class="col-9">
                        <p>Sepa-Lastschriftmandat</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5></i>Files</h5>
            </div>
        </div>
    </div>
</div>

<script>
    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }

    function show_zusatz(){
        el = document.getElementById('zusatz')
        if (el.style.display == "none"){
            el.style.display = "block";
        } else {
            el.style.display = "none";
        }
    }
    
</script>


<style>
    .row-card {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
    .key {
        max-width: 200px;
    }
    .controls{
        display: flex;
        justify-content: space-evenly;
    }
</style>


{% endblock %}