{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1" style="border: .2rem solid rgb(0, 33, 45);max-width: 1500px;margin-left: auto;margin-right: auto;">
        <div class="form-content">
            <div style="display: flex;justify-content: space-between;">
                <p>
                    <span class="badge badge-pill badge-dark mr-2">1</span>
                    Daten
                </p>
                <p>
                    <span class="badge badge-pill badge-dark mr-2">2</span>
                    Zusammenfassung
                </p>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Versicherung</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Tarif</p>
                    </div>
                    <div class="col-9">
                        <p>Dental-Vorsorge Premium</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beitrag</p>
                    </div>
                    <div class="col-9">
                        <div id="loader_beitrag" class="loader"></div>
                        <p id="beitrag" style="display: none;"></p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beginn</p>
                    </div>
                    <div class="col-9">
                        <div id="loader_begin" class="loader"></div>
                        <p id="insurance_begin" style="display: none;"></p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Zahnersatz (Optional)</h5>
                <div class="">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" onclick="show_zusatz()">
                        <label class="form-check-label" for="mySwitch">Sofort Kosten für Zahnersatz sichern!</label>
                    </div>
                </div>
                <div class="row">
                    <div id="zusatz" style="display: none;">
                        {% include 'components/banner.html' %}
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Versicherte Person</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Person</p>
                    </div>
                    <div class="col-9">
                        <p>
                            {{ request.session.anrede }} {{ request.session.vorname }} {{ request.session.nachname }} 
                            <br> 
                            {{ request.session.strasse }} {{ request.session.hausnr }} 
                            <br>
                            {{ request.session.plz }}, {{ request.session.ort }}
                        </p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Kontakt</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.email }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Geburtsdatum</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.geburtsdatum }}</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Bankdaten</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>IBAN</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.iban }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>BIC</p>
                    </div>
                    <div class="col-9">
                        <p id="bic">{{ request.session.bic }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Bankname</p>
                    </div>
                    <div class="col-9">
                        <p id="bankname">{{ request.session.bankname }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Zahlungsart</p>
                    </div>
                    <div class="col-9">
                        <p>Sepa-Lastschriftmandat</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5></i>Ihre Dokumente</h5>
                <div id="loader_angebot" class="loader"></div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ja, ich habe die Vertragsunterlagen zur Kenntnis genommen.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ich habe die "Einwilligung in die Erhebung und Verwendung von Gesundheitsdaten und Schweigepflichtsentbindungserklärung" gelesen und erteile die darin enthaltenen Einwilligungen.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ich habe die Informationspflichten nach Art. 13 DSGVO zur Kenntnis genommen.
                    </label>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input name="next" type="submit" value="Weiter" class="btn btn-primary col-12 col-md-3" style="margin-top: 1rem; margin-bottom: 1.2rem;">
            </div>
        </div>
    </div>
</div>

<script>
    iban = "{{ request.session.iban }}"
    bic = ""
    bankname = ""

    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }


    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/scraper/`);

    systemSocket.onopen = function (e) {   
        console.log('systemsocket connected');
        context ={
            "message": "client-connected",
            "birthdate": "{{ request.session.geburtsdatum }}",
            "anrede": "{{ request.session.anrede }}",
            "vorname": "{{ request.session.vorname }}",
            "nachname": "{{ request.session.nachname }}",
            "plz": "{{ request.session.plz }}",
            "ort": "{{ request.session.ort }}",
            "strasse": "{{ request.session.strasse }}",
            "hausnr": "{{ request.session.hausnr }}",
            "email": "{{ request.session.email }}",
            "iban": "{{ request.session.iban }}"
        }
        systemSocket.send(JSON.stringify(context));

    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.message == "Done"){
            console.log('Done')
        }
        if (data.message == "Beitrag"){
            document.getElementById('beitrag').innerText = data.price + ' / Monat'
            document.getElementById('loader_beitrag').style.display = "none"
            document.getElementById('beitrag').style.display = 'block' 


            document.getElementById('insurance_begin').innerText = data.date
            document.getElementById('loader_begin').style.display = "none"
            document.getElementById('insurance_begin').style.display = 'block' 

        }
    };
    
    systemSocket.onclose = function (e) {
        console.log('Chat socket closed');
    };

    // function send_message(){        
    //     systemSocket.send(JSON.stringify({"message": 'start'}));
    //     console.log()
    // }
    // function change_timeout(){        
    //     systemSocket.send(JSON.stringify({"message": 30}));
    // }
    // function stop_carrousel(){        
    //     systemSocket.send(JSON.stringify({"message": 'stop'}));
    // }
    // function reset(){        
    //     systemSocket.send(JSON.stringify({"message": 'reset'}));
    // }
        

    function show_zusatz(){
        el = document.getElementById('zusatz')
        if (el.style.display == "none"){
            el.style.display = "block";
        } else {
            el.style.display = "none";
        }
    }
    
</script>


<style>
    h5{
        margin-bottom: 1.7rem!important;
    }
    .card{
        margin-bottom: 1.5rem;
    }
    .row-card {
        padding-top: 0.2rem!important;
        padding-bottom: 0.2rem!important;
    }
    .key {
        max-width: 200px;
    }
    .controls{
        display: flex;
        justify-content: space-evenly;
    }

    .loader {
        border: 0.2rem solid #f3f3f3; /* Light grey */
        border-top: 0.2rem solid #3498db; /* Blue */
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>


{% endblock %}