{%  extends 'main.html' %}

{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1" style="border: .2rem solid rgb(0, 33, 45);max-width: 1500px;margin-left: auto;margin-right: auto;">
        <div class="form-content">
            <div style="display: flex;justify-content: space-between;">
                <p>
                    <span class="badge badge-pill badge-dark mr-2">1</span>
                    Daten
                </p>
                <p>
                    <span class="badge badge-pill badge-dark mr-2">2</span>
                    Zusammenfassung
                </p>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Versicherung</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Tarif</p>
                    </div>
                    <div class="col-9">
                        <p>Dental-Vorsorge Premium</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beitrag</p>
                    </div>
                    <div class="col-9">
                        <div id="loader_beitrag" class="loader"></div>
                        <p id="beitrag" style="display: none;"></p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Beginn</p>
                    </div>
                    <div class="col-9">
                        <div id="loader_begin" class="loader"></div>
                        <p id="insurance_begin" style="display: none;"></p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Zahnersatz (Optional)</h5>
                <div class="">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" onclick="show_zusatz()">
                        <label class="form-check-label" for="mySwitch">Sofort Kosten für Zahnersatz sichern!</label>
                    </div>
                </div>
                <div class="row">
                    <div id="zusatz" style="display: none;">
                        {% include 'components/banner.html' %}
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Versicherte Person</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Person</p>
                    </div>
                    <div class="col-9">
                        <p>
                            {{ request.session.anrede }} {{ request.session.vorname }} {{ request.session.nachname }} 
                            <br> 
                            {{ request.session.strasse }} {{ request.session.hausnr }} 
                            <br>
                            {{ request.session.plz }}, {{ request.session.ort }}
                        </p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Kontakt</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.email }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Geburtsdatum</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.geburtsdatum }}</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5><i class="fas fa-user"></i>Ihre Bankdaten</h5>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>IBAN</p>
                    </div>
                    <div class="col-9">
                        <p>{{ request.session.iban }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>BIC</p>
                    </div>
                    <div class="col-9">
                        <p id="bic">{{ request.session.bic }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Bankname</p>
                    </div>
                    <div class="col-9">
                        <p id="bankname">{{ request.session.bankname }}</p>
                    </div>
                </div>
                <div class="row row-card">
                    <div class="col-3 key">
                        <p>Zahlungsart</p>
                    </div>
                    <div class="col-9">
                        <p>Sepa-Lastschriftmandat</p>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <h5></i>Ihre Dokumente</h5>
                <div id="personalizedPDF" style="display: none;">
                    <i class="fas fa-regular fa-file-pdf" style="font-size: 1.7rem; color: #3e1a1a;"></i>
                    <a href="/media/pdfs/Mein_Angebot.pdf" style="margin-bottom: 0px;" download> Download - Ihr Persönliches Angebot</a>
                </div>
                <div id="loader_angebot" class="loader" style=""></div>



                <div class="form-check" style="margin-bottom: 2rem; margin-top: 1rem;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ja, ich habe die Vertragsunterlagen zur Kenntnis genommen.
                    </label>
                </div>

                <div style="display: flex; margin-bottom: 1rem;">
                    <i class="fas fa-regular fa-file-pdf" style="font-size: 1.7rem; color: #3e1a1a;"></i>
                    <a href="/media/pdfs/Schweigepflichtsentbindungserklärung.pdf" style="margin-bottom: 0px;" download>Download - Schweigepflichtsentbindungserklärung.pdf</a>
                </div>

                <div class="form-check" style="margin-bottom: 2rem;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ich habe die "Einwilligung in die Erhebung und Verwendung von Gesundheitsdaten und Schweigepflichtsentbindungserklärung" gelesen und erteile die darin enthaltenen Einwilligungen.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ich habe die Informationspflichten nach Art. 13 DSGVO zur Kenntnis genommen.
                    </label>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input id="finish" name="next" type="submit" value="Bitte warten" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary col-12 col-md-3" style="margin-top: 1rem; margin-bottom: 1.2rem;">
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="justify-content: center;">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Glückwunsch</h5>
                            </div>
                            <div class="modal-body text-center">
                                Ihr Antragsvorgang wurde erfolgreich durchgeführt.
                            </div>
                        </div>
                    </div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Wie geht es jetzt weiter?</h5>
                            </div>
                            <div class="modal-body">
                                <p>1. Ihr Versicherungsschein wird Ihnen innerhalb von einem Werktag per E-Mail zugestellt.</p>
                                <p>2. Alle versicherten Leistungen können Sie ab Erhalt Ihrer Vertragsdokumente direkt in Anspruch nehmen.</p>
                                <p>3. Rechnungen reichen Sie schnell und bequem per Smartphone-App oder per Email bei der Barmenia Krankenversicherung ein.</p>
                            </div>
                            <div class="modal-footer" style="display: flex;justify-content: center;">
                                <input id="finish" name="next" type="submit" value="Verstanden" class="btn btn-primary col-12 col-md-3" style="margin-top: 1rem; margin-bottom: 1.2rem;">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    iban = "{{ request.session.iban }}"
    bic = ""
    bankname = ""

    if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
    }


    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/scraper/`);

    systemSocket.onopen = function(e) {   
        console.log('systemsocket connected');
        context ={
            "message": "client-connected",
            "birthdate": "{{ request.session.geburtsdatum }}",
            "anrede": "{{ request.session.anrede }}",
            "vorname": "{{ request.session.vorname }}",
            "nachname": "{{ request.session.nachname }}",
            "plz": "{{ request.session.plz }}",
            "ort": "{{ request.session.ort }}",
            "strasse": "{{ request.session.strasse }}",
            "hausnr": "{{ request.session.hausnr }}",
            "email": "{{ request.session.email }}",
            "iban": "{{ request.session.iban }}"
        }
        systemSocket.send(JSON.stringify(context));

    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.message == "Done"){
            document.getElementById('loader_angebot').style.display = 'none'
            document.getElementById('personalizedPDF').style.display = 'flex'

            document.getElementById('finish').disabled = false;
            document.getElementById('finish').value = 'Abschließen';
        }
        if (data.message == "Beitrag"){
            document.getElementById('beitrag').innerText = data.price + ' / Monat'
            document.getElementById('loader_beitrag').style.display = "none"
            document.getElementById('beitrag').style.display = 'block' 


            document.getElementById('insurance_begin').innerText = data.date
            document.getElementById('loader_begin').style.display = "none"
            document.getElementById('insurance_begin').style.display = 'block' 

        }
        if (data.message == "serve_zahnzusatz_pricelist"){    
            document.getElementById('offer-small-eur').innerText = data.small
            document.getElementById('loader-col-small').style.display = "none"
            document.getElementById('offer-small').style.display = "flex"

            document.getElementById('offer-medium-eur').innerText = data.medium
            document.getElementById('loader-col-medium').style.display = "none"
            document.getElementById('offer-medium').style.display = "flex"

            document.getElementById('offer-large-eur').innerText = data.large
            document.getElementById('loader-col-large').style.display = "none"
            document.getElementById('offer-large').style.display = "flex"
        }
    };
    
    systemSocket.onclose = function (e) {
        console.log('Chat socket closed');
    };

    // function send_message(){        
    //     systemSocket.send(JSON.stringify({"message": 'start'}));
    //     console.log()
    // }
    // function change_timeout(){        
    //     systemSocket.send(JSON.stringify({"message": 30}));
    // }
    // function stop_carrousel(){        
    //     systemSocket.send(JSON.stringify({"message": 'stop'}));
    // }
    // function reset(){        
    //     systemSocket.send(JSON.stringify({"message": 'reset'}));
    // }
        

    function show_zusatz(){
        context ={
            "message": "get_zahnzusatz_pricelist",
            "birthdate": "{{ request.session.geburtsdatum }}"
        }
        systemSocket.send(JSON.stringify(context))


        el = document.getElementById('zusatz')
        if (el.style.display == "none"){
            el.style.display = "block";
        } else {
            el.style.display = "none";
        }
    }
    
</script>


<style>
    h5{
        margin-bottom: 1.7rem!important;
    }
    .card{
        margin-bottom: 1.5rem;
    }
    .row-card {
        padding-top: 0.2rem!important;
        padding-bottom: 0.2rem!important;
    }
    .key {
        max-width: 200px;
    }
    .controls{
        display: flex;
        justify-content: space-evenly;
    }

    .loader {
        border: 0.2rem solid #f3f3f3; /* Light grey */
        border-top: 0.2rem solid #3498db; /* Blue */
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>


{% endblock %}