{%  extends 'main.html' %}

{% load static %}
{% block content %}

<button type="button" onclick="send_message()" class="btn btn-primary">Start</button>
<button type="button" onclick="stop_carrousel()" class="btn btn-primary">Stop</button>
<button type="button" onclick="change_timeout()" class="btn btn-primary">Change Timeout</button>



<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'client connected'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        // cpu.refresh(data.cpu_percent);
        // ram.refresh(data.ram_percent);
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };

    function send_message(){        
        systemSocket.send(JSON.stringify({"message": 'start'}));
    }
    function change_timeout(){        
        systemSocket.send(JSON.stringify({"message": 30}));
    }
    function stop_carrousel(){        
        systemSocket.send(JSON.stringify({"message": 'stop'}));
    }
</script>


<style>

</style>


{% endblock %}