{%  extends 'main.html' %}

{% load static %}
{% block content %}

<div id="websocket" class="alert alert-danger text-center" role="alert">
    Not connected
</div>

<div class="col-12 controls">
    <button type="button" onclick="send_message()" class="btn btn-primary">Start</button>
    <button type="button" onclick="stop_carrousel()" class="btn btn-primary">Stop</button>
    <button type="button" onclick="change_timeout()" class="btn btn-primary">Timeout</button>
    <button type="button" onclick="reset()" class="btn btn-primary">Reset</button>
</div>

<div class="col-12" style="margin-top: 5rem;">
    <label for="customRange1" class="form-label">displacement.x</label>
    <div class="row">
        <div class="col-12">
            <input type="range" class="form-range" id="customRange1" min="-5" max="5" step="0.1" oninput="updateDisplacement('displacement-x', this.value);" style="width:100%">
        </div>
        <div class="col-1 offset-11">
            <label id="displacement-x" for="customRange3" class="form-label">0</label>
        </div>
    </div>
    <label for="customRange1" class="form-label">displacement.y</label>
    <div class="row">
        <div class="col-12">
            <input type="range" class="form-range" id="customRange1" min="-5" max="5" step="0.1" oninput="updateDisplacement('displacement-y', this.value);" style="width:100%">
        </div>
        <div class="col-1 offset-11">
            <label id="displacement-y" for="customRange3" class="form-label">0</label>
        </div>
    </div>
</div>

<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    const websocketState = document.getElementById("websocket")

    systemSocket.onopen = function (e) {
        websocketState.classList.remove('alert-danger');
        websocketState.classList.add('alert-success');
        websocketState.innerText = "Connected"


        // check if user has cookie 
        if (document.cookie.indexOf('deviceID=')){
            device_id = Math.floor(100000 + Math.random() * 900000)
            document.cookie = "deviceID=" + device_id;
        
        } else {
            // create new device id
            let name = "deviceID=";
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    device_id = c.substring(name.length, c.length)
                    //return c.substring(name.length, c.length);
                }
            }
      
            
        };
   
        console.log(device_id)
        systemSocket.send(JSON.stringify({"message": 'client-connected',"deviceID": device_id}));

    };

    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        //console.log(data)
        // cpu.refresh(data.cpu_percent);
        // ram.refresh(data.ram_percent);
    };
    
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
        websocketState.classList.remove('alert-success');
        websocketState.classList.add('alert-danger');
        websocketState.innerText = "Not Connected"

    };

    function send_message(){        
        systemSocket.send(JSON.stringify({"message": 'start'}));
        console.log()
    }
    function change_timeout(){        
        systemSocket.send(JSON.stringify({"message": 30}));
    }
    function stop_carrousel(){        
        systemSocket.send(JSON.stringify({"message": 'stop'}));
    }
    function reset(){        
        systemSocket.send(JSON.stringify({"message": 'reset'}));
    }



    function updateDisplacement(key, val) {
        systemSocket.send(JSON.stringify({"message": key, "value":val}));
        document.getElementById(key).innerText=val; 
    }
</script>


<style>
    .controls{
        display: flex;
        justify-content: space-evenly;
    }
</style>


{% endblock %}