{%  extends 'main.html' %}

{% load static %}
{% block content %}



<div id="display">
    <span id="websocket" class="badge badge-pill badge-danger" style="z-index: 10; position:absolute; top:2rem; right: 2rem">Offline</span>
</div>


<script src="{% static 'js/pixi.js' %}"></script>

<script>
    var app;
    var image;
    var image_path = "{% static 'img/background2.jpeg' %}";
    var displacement_path = "{% static 'img/displacement2.jpg' %}";

    var displacement_x_value = 5;

    function initPixi() {
      app = new PIXI.Application({width: window.innerWidth, height: window.innerHeight, resizeTo: window});
      document.body.appendChild(app.view);

      image = new PIXI.Sprite.from(image_path);
      image.width = window.innerWidth;
      image.height = window.innerHeight;
      app.stage.addChild(image);

      displacementSprite = new PIXI.Sprite.from(displacement_path);
      displacementFilter = new PIXI.filters.DisplacementFilter(displacementSprite);
      displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT;
      app.stage.addChild(displacementSprite);
      app.stage.filters = [displacementFilter];

      app.renderer.view.style.transform = 'scale(1.1)';
      displacementSprite.scale.x = displacement_x_value;
      displacementSprite.scale.y = 4;
      animate();
    }
    function animate() {
      displacementSprite.x += 1.8;
      displacementSprite.y += 1.4;
      requestAnimationFrame(animate);
    }
    initPixi();
</script>

<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    const websocketState = document.getElementById("websocket")

    systemSocket.onopen = function (e) {
        console.info('liveview socket listening');
        websocketState.classList.remove('badge-danger');
        websocketState.classList.add('badge-success');
        websocketState.innerText = "Online"
        systemSocket.send(JSON.stringify({"message": 'liveview-server connected'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data.value)

        if (data.message == "start"){
            app.destroy(true);
            app = null;
            image_path = data.src
            displacement_path = "{% static 'img/displacement.jpg' %}"
            initPixi();
            
        }

        if (data.message == "displacement.x"){
            displacement_x_value = data.message
            //initPixi();
        }

        if (data.message == "reset"){
            app.destroy(true);
            app = null;
            image_path = "{% static 'img/background2.jpeg' %}"
            displacement_path = "{% static 'img/displacement2.jpg' %}"
            initPixi();
        }
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
        websocketState.classList.remove('badge-success');
        websocketState.classList.add('badge-danger');
        websocketState.innerText = "Offline"
        systemSocket.send(JSON.stringify({"message": 'closed'}));
    };

</script>


<style>
    .live-img{
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
    }

    #display{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


{% endblock %}