{%  extends 'main.html' %}

{% load static %}
{% block content %}


<img id="background" src="{{ img.file.url }}" class="img-fluid live-img" alt="Responsive image">
<!-- {% for i in img %}
    <img src="{{ img.0.file.url }}" class="img-fluid" alt="Responsive image">
{% endfor %} -->


<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'liveview connected'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data.message)
        if (data.message == "start"){
            document.getElementById("background").src = data.src;
            document.getElementById("background").style.display = "inline"
        }

        if (data.message == "reset"){
            document.getElementById("background").style.display = "none"
            document.getElementById("background").style.src = ""
        }
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };

</script>


<style>
    .live-img{
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
    }
</style>


{% endblock %}