{%  extends 'main.html' %}

{% load static %}
{% block content %}



<div id="display"></div>


<script src="{% static 'js/pixi.js' %}"></script>

<script>
    var app;
    var image;
    var image_path = "{% static 'img/background.jpeg' %}";
    var displacement_path = "{% static 'img/displacement.jpg' %}";

    function initPixi() {
      app = new PIXI.Application({width: window.innerWidth, height: window.innerHeight, resizeTo: window});
      document.body.appendChild(app.view);

      image = new PIXI.Sprite.from(image_path);
      image.width = window.innerWidth;
      image.height = window.innerHeight;
      app.stage.addChild(image);

      displacementSprite = new PIXI.Sprite.from(displacement_path);
      displacementFilter = new PIXI.filters.DisplacementFilter(displacementSprite);
      displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT;
      app.stage.addChild(displacementSprite);
      app.stage.filters = [displacementFilter];

      app.renderer.view.style.transform = 'scale(1.1)';
      displacementSprite.scale.x = 5;
      displacementSprite.scale.y = 4;
      animate();
    }
    function animate() {
      displacementSprite.x += 1.8;
      displacementSprite.y += 1.4;
      requestAnimationFrame(animate);
    }
    initPixi();
</script>

<script>
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/live/`);
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'liveview connected'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data.message)
        if (data.message == "start"){
            app.destroy(true);
            app = null;
            image_path = data.src
            initPixi();
            
        }

        if (data.message == "reset"){
            app.destroy(true);
            app = null;
            image_path = "{% static 'img/background.jpeg' %}"
            initPixi();
        }
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };

</script>


<style>
    .live-img{
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
    }

    #display{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


{% endblock %}